---
layout: default
---
<main class="content" role="main">
  <article class="post">
    <div class="post-meta">
      <h1 class="post-title">{{ page.title }}</h1>
    </div>

    <section class="post-content">
      <a name="topofpage"></a>
      {{content}}
    </section>
    <footer class="post-footer">
      <section class="share"><time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time>&nbsp; &nbsp; | &nbsp;
        <a class="icon" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.id }}&text={{page.title | cgi_escape}}&via={{ site.twitter_username }}" target="_blank">
          Share on Twitter
          {% include icon-twitter.html %}
        </a>
      </section>

    </footer>
    <div class="bottom-teaser cf">
      <div class="">
        <h5 class="index-headline featured"><span>Written by</span></h5>
        <section class="author">
          <div class="author-image"></div>
          <h3>{{ site.name }}</h3>
          <p class="bio">{{site.bio}}</p>

          <p class="bioinfo">
            <span>
              {% if site.github_username %}
                {% include icon-github.html username=site.github_username %}
              {% endif %}
            </span>

            <span>
              {% if site.twitter_username %}
                {% include icon-twitter.html username=site.twitter_username %}
              {% endif %}
            </span>
          </p>
        </section>
      </div>
    </div>
  </article>
</main>
